<h1>Editing <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to 'Show', [@<%= singular_table_name %>.<%= nested_parent_name %>, @<%= singular_table_name %>] %> |
<%%= link_to 'Back', [@<%= singular_table_name %>.<%= nested_parent_name %>, :<%= plural_table_name %>] %>
