<h1>Listing <%= plural_table_name %></h1>

<%%= link_to 'New <%= human_name %>', [:new, @<%= nested_parent_name %>, :<%= singular_table_name %>] %>

<table>
  <tr>
<% for attribute in attributes -%>
    <th>
      <%= attribute.human_name %>
    </th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% for attribute in attributes -%>
    <td>
      <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    </td>
<% end -%>
    <td>
      <%%= link_to 'Show', [<%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>] %>
    </td>
    <td>
      <%%= link_to 'Edit', [:edit, <%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>] %>
    </td>
    <td>
      <%%= button_to 'Destroy', [<%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>], method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    </td>
  </tr>
<%% end %>
</table>
