<%% content_for :title, "<%= human_name.pluralize %>" %>

<%%= render PageComponent.new(title: "<%= human_name.pluralize %>") do |component| %>
  <%% component.with_action_list do %>
    <%%= link_to t("shared.actions.new"), [:new, @<%= nested_parent_name %>, :<%= singular_table_name %>], class: "du-btn du-btn-primary" %>
  <%% end %>

  <div class="table-responsive">
    <table class="min-w-full">
      <thead>
        <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th scope='col'><%%= <%= class_name %>.human_attribute_name(:<%= attribute.name %>) %></th>
<% end -%>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="<%= plural_table_name %>">
        <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
            <td>
              <%%= link_to t("shared.actions.show"), [<%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>], class: "du-btn du-btn-sm du-btn-secondary" %>
            </td>
            <td>
              <%%= link_to t("shared.actions.edit"), [:edit, <%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>], class: "du-btn du-btn-sm du-btn-outline" %>
            </td>
            <td>
              <%%= button_to t("shared.actions.destroy"), [<%= singular_table_name %>.<%= nested_parent_name %>, <%= singular_table_name %>], method: :delete, data: { turbo_confirm: t("shared.confirmations.are_you_sure") }, class: "du-btn du-btn-sm du-btn-error" %>
            </td>
          </tr>
        <%% end %>
      </tbody>
    </table>
  </div>
<%% end %>
