<p id="notice"><%%= notice %></p>

<%%= render '<%= singular_table_name %>', <%= singular_table_name %>: @<%= singular_table_name %> %>

<%%= link_to 'Edit', [:edit, @<%= singular_table_name %>.<%= nested_parent_name %>, @<%= singular_table_name %>] %> |
<%%= link_to 'Back', [@<%= singular_table_name %>.<%= nested_parent_name %>, :<%= plural_table_name %>] %>
